doctype html
html(lang="en" class="w-full h-full")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{code} | #{title}
  body(class="w-full h-full")
    div(class="PageContent flex flex-col flex-wrap items-center justify-center w-full h-full p-16")
      div(class="ErrorContainer flex flex-row flex-wrap items-center")
        div(class="ErrorIllustration flex-grow basis-0 flex flex-col items-center")
          img(src=img class="w-64 h-64 min-w-64 min-h-64 rounded-xl")
        div(class="ErrorDetails flex-grow basis-0 flex flex-col min-w-64 min-h-64")
          div(class="ErrorCode text-7xl text-neutral-800 font-bold") #{code}
          div(class="ErrorText text-4xl text-neutral-800 font-bold mt-3") #{title}
          include components/expandable
          div(class="ErrorDescription mt-2") #{description}
          div.w-full.mt-2
            +expandable('Help for Endusers', 'enduserHelp')
              +expandable('What could be the reason for this?', 'enduserReasons')
                ul.list-disc.pl-4
                  each reason in enduserReasons
                    li #{reason}
              +expandable('What can I do about this?', 'enduserAdvices')
                ul.list-disc.pl-4
                  each advice in enduserAdvices
                    li #{advice}
          div.w-full.mt-1
            +expandable('Help for Professionals', 'professionalHelp')
              div.AdditionalWrapper.hidden
                +expandable('Additiona error details', 'professionalAdditional')
                  div(class="AdditionalContent italic")
              +expandable('What could be the reason for this?', 'professionalReasons')
                ul.list-disc.pl-4
                  each reason in professionalReasons
                    li #{reason}
              +expandable('What can I do about this?', 'professionalAdvices')
                ul.list-disc.pl-4
                  each advice in professionalAdvices
                    li #{advice}
          if actionCode
            div(class="ReloadButton mt-6 px-4 py-2 bg-orange-400 text-white font-semibold rounded-xl w-fit uppercase hover:bg-orange-500",onclick=actionCode) #{actionText}
    script.
        const caddyError = [
          '{{placeholder "http.error.message"}}',
          '{{placeholder "http.reverse_proxy.status_text"}}',
          '{{placeholder "http.error.status_message"}}'
        ].find(a => a!='' && !a.includes("placeholder"));
        const additionalFromURL = new URLSearchParams(window.location.search).get("additional");
        const additional = caddyError||additionalFromURL;

        if(additional) {
          document.querySelector('.AdditionalWrapper').classList.add("!block");
          document.querySelector('.AdditionalContent').innerText = additional;
        }
    style.
      @import "tailwindcss";